
<%= content_tag :div, class: ["game-card"], style: "background: #{card.bg_color}; color: #{card.text_color};" do %>
  <span><%= card.rank.name %></span>
  <span class="italic"><%= card.suit.name %> tea</span>
<% end %>